@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar { // <nav>
  width: 100%;
  height: 75px;
  background-color: #2525f3;

  .navbar-nav { // <ul>
    display: flex;
    justify-content: center;
    height: 100%;
    list-style: none;

    .nav-item { // <l1>
      height: 100%;
      display: inline-block;
      padding: 0 20px;

      .nav-link { // <a>
        box-sizing: content-box;
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;

        &:hover {
          border-bottom: 2px solid #333;
        }
      }
    }
  }
}